* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F1F5F8;
    font-family: "Roboto", sans-serif;
}


.title {
    margin: 4rem 0 6rem;
}

.title h1 {
    text-align: center;
    font-size: 3rem;
    color: #102A42;
    letter-spacing: 3px;
    margin-top: unset;
    margin-bottom: 0.75rem;
    line-height: 0.7;
}

.title .underline {
    width: 8rem;
    height: 0.25rem;
    background-color: #49A6E9;
    margin: 0 auto;
}

.followers {
    max-width: 1170px;
    width: 90vw;
    margin: 5rem auto;
}

.followers .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 4rem;
}

.container .card {
    padding: 2rem 3.5rem;
    background-color: #FFFFFF;
    border-radius: 0.75rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    margin-bottom: 0.75rem;
    object-fit: cover;
}

.card h4 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    text-transform: capitalize;
}

.card a {
    text-decoration: none;
    color: #FFFF;
    background-color: #49A6E9;
    display: inline-block;
    padding: 0.35rem 0.75rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1.5px;
}


.btn-container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-container>* {
    margin: 0.5rem;
    border: none;
    background-color: unset;
    columns: #000000;
    cursor: pointer;
}

.prev-btn,
.next-btn {
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 900;
}

.page-btn {
    background-color: #8BCBF9;
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    transition: all 0.3s linear;
}

.page-btn.active {
    background-color: #063251;
    color: #FFFFFF;
}